body {
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    padding: 2rem;
    margin: 0;
}

button {
    background-color: #3d0000;
    border-color: rgb(82, 82, 82);
    border-radius: 8px;
    border-style: solid;
    color: rgb(180, 180, 180);
    font-size: 1.2rem;
    font-weight: 600;
    height: 36px;
    font-family: 'Kalam', cursive;
}

#mediacontrols {
    width: 600px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    position: relative;
}

#timedisplay {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(180, 180, 180);
    font-size: 1.4rem;
    position: absolute;
    right: 0px;
    top: 15px;
}

#controlbarrail {
    background-color: darkred;
    height: 3px;
    margin-bottom: 0.6rem;
    cursor: pointer;
}

#controlbarfill {
    background-color: rgb(236, 216, 172);
    height: 3px;
    cursor: pointer;
}