a {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: navy;
  color: white;
  text-decoration: none;
}
a:focus {
  color: yellow;
}
a:hover {
  background-color: yellow;
  color: black;
}
a:active {
  color: red;
}

/* general font settings, no links here */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 150%;
}