
body {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  background-color: #CCAE51;
  color: #fff;
}
caption {
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 1rem;
}
td, th {
  padding: 0.5rem;
  border: 1px solid black;
}
tbody tr:nth-child(odd),
tfoot tr:nth-child(even) {
   background-color: rgba(204, 174, 81, 0.2);
}
tfoot tr td:first-child {
  border: none;
  background-color: white;
}
tfoot {
border-top: 5px solid black;
}

/* responsive table */
.tablescroll {
overflow: auto;
}
@media (max-width: 600px) {
table {
  border: none;
}

table, tr, td {
  display: block;
}
th, thead {
  display: none;
}
td:nth-child(1)::before {
  content: "Day: ";
}
td:nth-child(2)::before {
  content: "Date: ";
}
td:nth-child(3)::before {
  content: "Regular Hours: ";
}
td:nth-child(4)::before {
  content: "Overtime Hours: ";
}
td:nth-child(5)::before {
  content: "Sick Hours: ";
}
td:nth-child(6)::before {
  content: "Vacation Hours: ";
}
td:nth-child(7)::before {
  content: "Total: ";
}
tfoot tr:first-child td:first-child::before {
  content: "Total Hours in the following categories:";
}
tfoot tr:nth-child(2) td:first-child::before {
  content: "Rates of pay in the following categories:"
}
tfoot tr:nth-child(2) td:last-child {
  display: none;
}
tfoot tr:last-child td:first-child::before {
  content: "Total owed in the following categories:"
}
}