@media screen and (min-width: 40em) {
	h2 {
		font-size: 1.75em; /* 28px */
	}
	h3 {
		font-size: 1.375em; /* 22px */
	}
}
img.float-left {
	margin: 0 1em 1em 0;
}
img.float-right {
	0 0 1em 1em;
}
img {
	border-radius: 10px;
}
.card figure {
	margin-bottom: 1em;
}
